{% extends "base.html" %}

{% block sheri %}

    <h1 class="text-warning">Hello,Welcome!</h1>
    <h2 class="text-warning">انشاء حساب</h2>



    <form class="mx-auto" method="post">
      {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">اسم المستخدم</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">لا تشارك اسم المستخدم الخاص بك مع أي شخص أبدًا..</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">كلمة المرور</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">كلمة المرور اعادة كتابة</label>
    <input type="password" name="password2" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-warning">تسجيل الدخول</button>

</form>
  <a href="{% url 'signin' %}" class="text-warning d-block text-end">تسجيل الدخول</a>

{% endblock sheri %}